<div class="system-status-general-info">
  <h2 class="system-status-general-info__header">{{ 'General System Information'|t }}</h2>
  <div class="system-status-general-info__items">
    <div class="system-status-general-info__item card">
      <span class="system-status-general-info__item-icon system-status-general-info__item-icon--drupalpod"></span>
      <div class="system-status-general-info__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'DrupalPod'|t }}</h3>
        {{ drupalpod.value }}
        {% if drupalpod.description %}
          <div class="description">{{ drupalpod.description }}</div>
        {% endif %}
        {% for item in drupalpod.items %}
          {% if item.modules %}
            <details class="drupalpod-build-info__modules"{{ item.open ? ' open' }}>
              <summary class="drupalpod-build-info__modules-summary">{{ 'Module versions'|t }}</summary>
              <dl class="drupalpod-build-info__modules-list">
                {% for module in item.modules %}
                  <dt class="drupalpod-build-info__module-term">{{ module.term }}</dt>
                  <dd class="drupalpod-build-info__module-desc">
                    {{ module.value }}
                    {% if module.description %}
                      <div class="description">{{ module.description }}</div>
                    {% endif %}
                  </dd>
                {% endfor %}
              </dl>
            </details>
          {% else %}
            <h4 class="system-status-general-info__sub-item-title">{{ item.title }}</h4>
            {{ item.value }}
            {% if item.description %}
              <div class="description">{{ item.description }}</div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="system-status-general-info__item card">
      <span class="system-status-general-info__item-icon system-status-general-info__item-icon--drupal"></span>
      <div class="system-status-general-info__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'Drupal Version'|t }}</h3>
        {{ drupal.value }}
        {% if drupal.description %}
          <div class="description">{{ drupal.description }}</div>
        {% endif %}
      </div>
    </div>

    <div class="system-status-general-info__item card">
      <span class="system-status-general-info__item-icon system-status-general-info__item-icon--server"></span>
      <div class="system-status-general-info__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'Web Server'|t }}</h3>
        {{ webserver.value }}
        {% if webserver.description %}
          <div class="description">{{ webserver.description }}</div>
        {% endif %}
      </div>
    </div>
    <div class="system-status-general-info__item card">
      <span class="system-status-general-info__item-icon system-status-general-info__item-icon--clock"></span>
      <div class="system-status-general-info__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'Last Cron Run'|t }}</h3>
        {{ cron.value }}
        {% if cron.run_cron %}
          <div class="system-status-general-info__run-cron">{{ cron.run_cron }}</div>
        {% endif %}
        {% if cron.description %}
          <div class="system-status-general-info__description">{{ cron.description }}</div>
        {% endif %}
      </div>
    </div>
    <div class="system-status-general-info__item card">
      <span class="system-status-general-info__item-icon system-status-general-info__item-icon--php"></span>
      <div class="system-status-general-info__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'PHP'|t }}</h3>
        <h4 class="system-status-general-info__sub-item-title">{{ 'Version'|t }}</h4>{{ php.value }}
        {% if php.description %}
          <div class="description">{{ php.description }}</div>
        {% endif %}

        <h4 class="system-status-general-info__sub-item-title">{{ 'Memory limit'|t }}</h4>{{ php_memory_limit.value }}
        {% if php_memory_limit.description %}
          <div class="description">{{ php_memory_limit.description }}</div>
        {% endif %}
      </div>
    </div>
    <div class="system-status-general-info__item card">
      <span class="system-status-general-info__item-icon system-status-general-info__item-icon--database"></span>
      <div class="system-status-general-info__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'Database'|t }}</h3>
        <h4 class="system-status-general-info__sub-item-title">{{ 'Version'|t }}</h4>{{ database_system_version.value }}
        {% if database_system_version.description %}
          <div class="description">{{ database_system_version.description }}</div>
        {% endif %}

        <h4 class="system-status-general-info__sub-item-title">{{ 'System'|t }}</h4>{{ database_system.value }}
        {% if database_system.description %}
          <div class="description">{{ database_system.description }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
